@import "tailwindcss";

@keyframes pulse {
  from {
    transform: scale(1) translate(0, 0);
  }
  to {
    transform: scale(1.2) translate(20px, 40px);
  }
}
body {
  font-family: "Roboto", sans-serif;
}
